/******************  GENERAL **********************/

:root {
  font-family: Lato, Verdana, Tahoma, sans-serif;
  background: linear-gradient(25deg, #FFF, #EDD);
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/******************  HEADER **********************/
header {
  background-color: #FFF;
  padding: 10px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*container logo*/
.container_logo {
  width: 300px;
  height: 70px;
  overflow: hidden;
  /*ici je réduit le container et je cache le depassement d'image*/
}

/*img logo*/
.logo {
  margin-top: -115px;
  /*je décale/recadre l'image pour la faire apparaitre dans son container*/
  max-width: 300px;
  border-radius: 20px;
}

/*Nav*/
ul {
  display: flex;
}

li {
  padding: 10px;
}

/******************  MAIN **********************/

main {
  /* border: 2px solid blue; */
  padding: 30px 20%;
}

.post {
  padding: 10px;
  border: 2px solid grey;
  background-color: #FFF
}

/******************  HOME **********************/


.name_date_post {
  border-bottom: 2px solid grey;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
}

.message_post {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like_post {
  border-top: 2px solid grey;
  display: flex;
  justify-content: flex-end;
}

/********************************************************/

/* 
notes sur les selectors :
* = tt les elements
html = document html
:root = document (si document = html, alors :root = html)
body = body
*/