/******************  GENERAL **********************/

:root {
  font-family: 'Lato', Verdana, sans-serif;
  background: #DDD;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.center {
  text-align: center;
}

.input-error {
  color: #F00;
  font-style: italic;
  font-size: 0.8em;
}

button {
  padding: 5px;
  margin: 0px 5px;
  border-radius: 5px;
  background-color: #bfd6ed;
}



/******************  HEADER **********************/
header {
  background-color: #FFF;
  padding: 10px;
  border-bottom: 5px solid #1f70c1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

/*container logo*/
.container_logo {
  padding-top: 3px;
  /* width: 300px; */
  /* height: 70px; */
  /* overflow: hidden; */
  /*ici je réduit le container et je cache le depassement d'image*/
}

/*img logo*/
.logo {
  /* margin-top: -115px; */
  /*je décale/recadre l'image pour la faire apparaitre dans son container*/
  max-width: 130px;
  /* border-radius: 20px; */
}

/*Nav*/
.navigation ul {
  display: flex;
}

.navigation a {
  font-weight: bold;
  color: #4E5166;
  text-decoration: none;
}

.navigation a:hover {
  color: #000;
}

.navigation li {
  padding: 5px 0px;
  margin: 0px 10px;
}


/******************  MAIN **********************/

main {
  /* border: 2px solid blue; */
  padding: 30px 15%;
}

.main_content {
  padding: 10px;
  border: 1px solid #4E5166;
  box-shadow: 1px 1px 5px #BBB, -1px -1px 5px #BBB;
  background-color: #FFF;
  margin-bottom: 15px;
}

/******************  HOME **********************/

.name_date_post {
  border-bottom: 1px solid #4e516680;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.message_post {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.text_post {
  margin-bottom: 10px;
}

.image_post img {
  max-width: 400px;
  width: auto;
}

.option_post {
  /* background-color: #4E5166; */
  padding-top: 5px;
  border-top: 1px solid #4e516680;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.like_post {
  display: flex;
  align-items: center;
}

.liked {
  opacity: 0.5;
}

.ownper_post {
  background-color: #fef3e7;
}

/******************  NEWPOST, UPDATEPOST **********************/

.container_new_post {
  border-bottom: 5px solid #1f70c1;
  overflow: hidden;
}

.container_new_post form {
  max-width: 600px;
  margin: auto;
  padding: 10px 0px;
}

.container_text_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_file_upload {
  padding: 20px 0;
}

/************** Media Queries ***************/

@media screen and (max-width: 850px) {

  header {
    /* padding: 0px; */
    flex-direction: column;
  }

  .logo {
    max-width: 100px;
  }

  .navigation ul {
    margin-bottom: 0;
  }

  main {
    padding: 30px 10%;
  }

}

@media screen and (max-width: 590px) {

  .logo {
    max-width: 80px;
  }

  main {
    padding: 0;
  }

  .main_content {

    padding: 10px;
    margin-bottom: 0px;
  }

  .image_post {
    display: flex;
  }

  .image_post img {
    margin: auto;
  }
}

/* 
notes sur les selectors :
* = tt les elements
html = document html
:root = document (si document = html, alors :root = html)
body = body
*/