/******************  GENERAL **********************/

:root {
  font-family: Lato, Verdana, Tahoma, sans-serif;
  background: #DDD;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.center {
  text-align: center;
}

.input-error {
  color: #F00;
  font-style: italic;
  font-size: 0.8em;
}

/******************  HEADER **********************/
header {
  background-color: #FFF;
  padding: 10px;
  border: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*container logo*/
.container_logo {
  width: 300px;
  height: 70px;
  overflow: hidden;
  /*ici je réduit le container et je cache le depassement d'image*/
}

/*img logo*/
.logo {
  margin-top: -115px;
  /*je décale/recadre l'image pour la faire apparaitre dans son container*/
  max-width: 300px;
  border-radius: 20px;
}

/*Nav*/
ul {
  display: flex;
}

li {
  padding: 10px;
}

/******************  MAIN **********************/

main {
  /* border: 2px solid blue; */
  padding: 30px 20%;
}

.main_content {
  padding: 10px;
  border: 1px solid #888;
  background-color: #FFF;
  margin-bottom: 15px;
}

/******************  HOME **********************/

.name_date_post {
  border-bottom: 2px solid #CCC;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.message_post {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.text_post {
  margin-bottom: 10px;
}

.image_post img {
  max-width: 400px;
}

.like_post {
  padding-top: 5px;
  border-top: 2px solid #CCC;
  display: flex;
  justify-content: flex-end;
  font-style: italic;
}

/******************  NEWPOST **********************/

.container_textarea {
  overflow: hidden;
}

/************** Media Queries ***************/

@media screen and (max-width: 850px) {

  header {
    padding: 0px;
    flex-direction: column;
  }

  /*container logo*/
  .container_logo {
    height: 60px;
  }

  main {
    padding: 30px 120px;
  }

}

@media screen and (max-width: 590px) {

  main {
    padding: 0;
  }

  .main_content {

    padding: 10px;
    margin-bottom: 0px;
  }

}

/* 
notes sur les selectors :
* = tt les elements
html = document html
:root = document (si document = html, alors :root = html)
body = body
*/